/* Question and choices list */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align: center;
}

.game-explain {
    text-align: center;
}

.start-gamebutton {
    align-self: center;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

main ul {
    display: none;
}

main ul li {
    margin: 2vh 2vw;
}

.game-score {
    display: none;
    
};

.answer-response {
    display: none;
}

.initials-form {
    display: none;
}

.high-scores {
    margin-left: 1vw;
}

.again-button {
    display: none;
}