/* Remove browser defaults */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Sets page color variables */
:root {
    --basic-dark: #240046;
    --basic-light: #E0AAFF;
}

/* Sets font */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Player score and running time */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2vh 2vw;
}

header p {
    background-color: var(--basic-dark);
    color: var(--basic-light);
    padding: 1vh 0.5vw;
}

/* Into, quiz questions, and endGame heading */
h1 {
    align-self: center;
    text-align: center;
    background-color: var(--basic-dark);
    color: var(--basic-light);
    padding: 1vh 1vw;
    margin: 1vh 1vw;
}

/* Game explanation text */
.game-explain {
    align-self: center;
    text-align: center;
    margin-bottom: 2vh;
    background-color: var(--basic-dark);
    color: var(--basic-light);
    padding: 0.5vh 0.5vw;
    
}

/* Quiz start button */
.start-gamebutton {
    align-self: center;
    border-radius: 8px;
    background-color: var(--basic-dark);
    color: var(--basic-light);
    border-color: var(--basic-light);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1vh 1vw;
    cursor: pointer;
}

/* Game explanation, quiz, and endGame content */
main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

main ul {
    display: none;
    text-align: center;
}

main ul li {
    margin: 2vh 2vw;
    list-style: none;
}

/* Quiz answers and game scores on endGame */
main p {
    align-self: center;
    text-align: center;
    padding: 1vh 1vw;
}

/* Quiz choice buttons */
.choice-button {
    border-radius: 8px;
    background-color: var(--basic-dark);
    font-size: 1.5rem;
    color: var(--basic-light);
    padding: 0.5vh 1vw;
    cursor: pointer;
}

.game-score {
    display: none;
    background-color: var(--basic-dark);
    color: var(--basic-light);
    padding: 1vh 1vw;
    margin-top: 1vh;
    font-size: 1.25rem;
};

/* Controls display of answer responses */
.answer-response {
    display: none;
}

/* Form for entering initials */
.initials-form {
    display: none;
    align-self: center;
    font-size: 1.5rem;
    background-color: var(--basic-dark);
    color: var(--basic-light);
    padding: 1vh 1vw;
}

/* Save button for initials form */
.save-button {
    padding: 0.5vh 0.5vw;
}

.user-scores {
    margin-left: 1vw;
}
